<script>
  let name = "Brunner";
  let count = 0;
  let visible = false;
  let obstliste = ["Banane", "Tomate", "Erdbeeren", "Blaubeere"];
  let neuesObst = "";

  const increment = () => {
    count++;
    if (neuesObst != "") {
      obstliste.push(neuesObst);
      obstliste = obstliste;
    }
  };
  const toggle = () => {
    visible = !visible;
  };
  const changename = () => {
    if (name == "Brunner") {
      name = "Kiehn";
    } else {
      name = "Brunner";
    }
  };
</script>

<main>
  <h1>{name} Solutions GmbH</h1>

  <table>
    <tr><th>Nummer</th><th>name</th></tr>
    {#each obstliste as o, index}
      <tr><td>{index + 1}</td><td>{o}</td></tr>
    {/each}
  </table>
  <input bind:value={neuesObst} type="text" />

  <p>modern problems require modern solutions</p>
  {#if !visible}
    <button on:click={toggle}>toggle</button>
  {/if}

  <button on:click={changename}>change name</button>
  <button on:click={increment}>problems solved: {count}</button>
  {#if visible}
    <button on:click={toggle}>toggle</button>
  {/if}
</main>

<style>
  h1 {
    border: 10px solid white;
    border-radius: 100px;
    padding: 0.5em;
  }
</style>
